@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

html body {
	background-color: #fff;
	font-family: 'Raleway', serif;
	font-weight: 400;
}

a {
	color: rgb(8, 104, 128) !important;
}

#download {
	color: #fff !important;
	&:hover {
		color: #fff !important;
	}
}

a:hover {
	color: #064b5c !important;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn, .btn:active {
	color: rgb(8, 104, 128);
	border-color: rgb(8, 104, 128);
}