@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English');

html body {
	background-color: #f7f1e6;
	font-family: 'IM Fell English', serif;

}

a {
	color: rgb(8, 104, 128) !important;
}

a:hover {
	color: #064b5c !important;
}

.dropdown-menu.show {
	box-shadow: rgba(0, 0, 0, 0.1) 5px 3px 18px 4px !important;
	border: none !important;
	margin-top: .5em !important;
}

.dropdown-item {
	padding: 0.35em 1.5em !important;
}

.dropdown-menu {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}